
h1{
	font-size: 1.8rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;
	width: 80vw;
}

.h3{
	display: flex;
	align-items: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 1.5px;
	overflow: hidden;
	width: calc(100vw - 40px);
}
.h3::after{
	content: " ";
	position: absolute;
	background-color: white;
	width: calc(100% - 100px);
	height: 1px;
	transform: translate(80px, 0);
}


.landing__container{
    height: calc(100vh - 40px);
    width: calc(100vw - 40px);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	justify-content: space-between;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

.rotating-text{
	font-size: 1.8rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: 0.5px;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

button{
	outline: none;
	border: none;
	border-radius: 50%;
	background-color: transparent;
}

.landing__startButton{
	width: 100%;
	color: white;
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;
	letter-spacing: 4px;
	margin: 0;
	height: 60px;
	border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.47);
}

